<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <meta charset="UTF-8">
  <title><%= locals.title || "Express OpenID Connect" %></title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="shortcut icon" href="//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">

        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/51/alphabet-word-images-1295331_960_720.png" class="fill-current h-8 w-8 mr-2" width="49" height="54" viewBox="0 0 152 168">
            <span class="font-semibold text-xl tracking-tight">WEB2 LAB1</span>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Home</a>
                <% if (locals.user) { %>
                    <a  href="/logout" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a>
                <% } else { %>
                    <a  href="/login" 
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Login</a>
                <% } %>
            </div>

            <div>
                <div>
                    <% if (locals.username) { %>
                        <p style="color: white;">KORISNIK: <%=username%></p>
                    <% } else { %>
                        <p style="color: white;">Neprijavljeni korisnik</p>
                    <% } %>

                </div>
            </div>
        </div>
    </nav>
    <div class="main-container">
                