<%- include('partials/header') -%>

<h1 class="text-4xl">UEFA Liga prvaka</h1>

<!---<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/profile" class="underline">View your profile</a>.</p>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>--->

<% if (locals.isAuthenticated) { %>
    <a href="/raspored" class="underline">Raspored utakmica i rezultati</a>
    <br>
    <a href="/trenutnoStanje" class="underline">Trenutno stanje na tablici</a>
    <br>
    <a href="/logout" class="underline">Logout</a>
<% } else { %>
    <a href="/raspored" class="underline">Raspored utakmica i rezultati</a>
    <br>
    <a href="/trenutnoStanje" class="underline">Trenutno stanje na tablici</a>
    <br>
    <a href="/login" class="underline">Login</a>
<% } %>


<%- include('partials/footer') -%>
