<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neovlašten</title>
</head>
<%- include('partials/header') -%>
<body>
    Nemate ovlasti za pristup ovom resursu.<br><br>
    <a href="/">Povratak na početnu stranicu.</a>
</body>
</html>