<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kola</title>
</head>
<%- include('partials/header') -%>
<body>
    <ul>
        <li><a href="/pregledPoKolima/a/1">Kolo 1</a></li>
        <li><a href="/pregledPoKolima/a/2">Kolo 2</a></li>
        <li><a href="/pregledPoKolima/a/3">Kolo 3</a></li>
        <li><a href="/pregledPoKolima/a/4">Kolo 4</a></li>
        <li><a href="/pregledPoKolima/a/5">Kolo 5</a></li>
    </ul>
</body>
</html>