<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Prikaz Kola</title>
</head>
<%- include('partials/header') -%>
<body>
    <br>
    <br>
    <% if(lista.length >0){ %>
      <% for (const m of lista) { %>
        <table>
          <thead>
            <tr>
              <th>Tim 1</th>
              <th>Rezultat</th>
              <th>Tim 2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%=m.get('tim1')%></td>
              <td><%=m.get('rezultat') %></td>
              <td><%=m.get('tim2') %></td>
            </tr>
            <tr>
              <td>vrijeme</td>
              <td colspan="2" style="text-align: right;"><%=m.get('vrijeme') %></td>
            </tr>
          </tbody>
      </table>
      <% } %>
    <% } %>  
    <% if(komentari.length >0){ %>
      <% for (const k of komentari) { %>
        <div style="border: solid black 1px;">
          <% if((user == k.username) || (user == 'admin')) { %>
            <form action="<%=url%>/delete" method="post">
              <div>
                <label for="komentarid"></label><input hidden type="text" name="komentarid" id="komentarid" size="30" value="<%=k.komentarid%>"><br>
              </div>
              <button type="submit">Obriši</button>
            </form>
          <% } %>

          <% if((user == k.username) || (user == 'admin')) { %>
            <button class="editComment" id="editComment">Uredi</button>
            <div hidden id="editForm" class="editForm">
              <div class = "modal-content">
                <span class="close">&times;</span>
                <div><span><%=k.username%></span></div>
                <div><span>vrijeme: <%=k.vrijeme%></span></div>
                <br>
                <form action="<%=url%>/edit" method="post">
                  <div>
                    <label for="sadrzaj"></label><textarea type="text" name="sadrzaj" id="sadrzaj" rows="5" cols="50"><%=k.sadrzaj%></textarea><br>
                  </div>
                  <div>
                    <label for="komentarid"></label><input hidden type="text" name="komentarid" id="komentarid" size="30" value="<%=k.komentarid%>"><br>
                  </div>
                  <button type="submit">Spremi</button>
                </form>
              </div>
            </div>
          <% } %>
          
          <div><span><%=k.username%></span></div>
          <div><span>vrijeme: <%=k.vrijeme%></span></div>
          <dev><span><%=k.sadrzaj%></span></dev>
        </div>
      <% } %>
    <% } %> 

    <form action="<%=url%>" method="post">
      <div>
          <fieldset>
              <div>
                  <div>
                      <label for="username"></label><input hidden type="text" name="username" id="username" size="30" value="<%=user%>"><br>
                  </div>
                  <div>
                      <label for="sadrzaj"></label><textarea type="text" name="sadrzaj" id="sadrzajNew" rows="5" cols="50" placeholder="Unesi komentar"></textarea><br>
                  </div>
              </div>
              <hr>
              <div>
                  <input id="komentiraj" type="submit" disabled value="Komentiraj">
                  <input id="neKomentiraj" onclick="document.getElementById('komentiraj').disabled = true" type="reset" value="Odustani">
              </div>
          </fieldset>
      </div>
  </form>


    <script>
      

      //otvaranje/zatvaranje modalnog prozora
      var buttonList = document.getElementsByClassName("editComment")
      var editFormList = document.getElementsByClassName("editForm")
      var closeFormList= document.getElementsByClassName("close")

      for(let i=0;i<buttonList.length;i++){
        buttonList[i].onclick = function() {
          editFormList[i].style.display = "block";
        }
        closeFormList[i].onclick = function() {
          editFormList[i].style.display = "none";
        }
        window.onclick = function(event) {
          let x = event.target;
          if (event.target.classList.contains('editForm')) {
            event.target.style.display="none";
          }
        }
      }

      let btn1 = document.getElementById("komentiraj")

      var area = document.getElementById("sadrzajNew");
      if (area.addEventListener) {
        area.addEventListener('input', function() {
          // event handling code for sane browsers
        if(area.value.length>0){ btn1.disabled = false} else { btn1.disabled = true}
      }, false);
      } else if (area.attachEvent) {
        area.attachEvent('onpropertychange', function() {
          // IE-specific event handling code
          if(area.value.length>0){ btn1.disabled = false} else { btn1.disabled = true}
        });}
      </script>
</body>
</html>