<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupa</title>
</head>
<%- include('partials/header') -%>
<body>
    <br>
    <ul>
        <li><a href="/pregledPoKolima/<%=grupaNaziv %>/<%=((grupa-1)*6 + 1)%>">Kolo 1</a></li>
        <li><a href="/pregledPoKolima/<%=grupaNaziv %>/<%=((grupa-1)*6 + 2)%>">Kolo 2</a></li>
        <li><a href="/pregledPoKolima/<%=grupaNaziv %>/<%=((grupa-1)*6 + 3)%>">Kolo 3</a></li>
        <li><a href="/pregledPoKolima/<%=grupaNaziv %>/<%=((grupa-1)*6 + 4)%>">Kolo 4</a></li>
        <li><a href="/pregledPoKolima/<%=grupaNaziv %>/<%=((grupa-1)*6 + 5)%>">Kolo 5</a></li>
        <li><a href="/pregledPoKolima/<%=grupaNaziv %>/<%=((grupa-1)*6 + 6)%>">Kolo 6</a></li>
    </ul>
    <br>
</body>
</html>