<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Raspored utakmica</title>
</head>
<%- include('partials/header') -%>
<body>
  <a href="<%=url%>/admin">Uredi rezultate</a><br>
    <% if(lista.length >0){ %>
        <% for (const m of lista) { %>
          <table>
            <thead>
              <tr>
                <th>Tim 1</th>
                <th>Rezultat</th>
                <th>Tim 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%=m.get('tim1')%></td>
                <td><%=m.get('rezultat') %></td>
                <td><%=m.get('tim2') %></td>
              </tr>
              <tr>
                <td>vrijeme</td>
                <td colspan="2" style="text-align: right;"><%=m.get('vrijeme') %></td>
              </tr>
            </tbody>
        </table>
        <br>
        <% } %>
      <% } %>  

<script>
      var buttonList = document.getElementsByClassName("editComment")
      var editFormList = document.getElementsByClassName("editForm")
      var closeFormList= document.getElementsByClassName("close")

      for(let i=0;i<buttonList.length;i++){
        buttonList[i].onclick = function() {
          editFormList[i].style.display = "block";
        }
        closeFormList[i].onclick = function() {
          editFormList[i].style.display = "none";
        }
        window.onclick = function(event) {
          let x = event.target;
          if (event.target.classList.contains('editForm')) {
            event.target.style.display="none";
          }
        }
      }
</script>
</body>
</html>