<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Uredi rezultate</title>
</head>
<%- include('partials/header') -%>
<body>
    <% if(lista.length >0){ %>
        <% for (const m of lista) { %>
          <% if((user == 'admin') && m.get('rezultat').includes('-')) { %>
            <button class="editComment" id="editComment">Dodaj</button>
            <div hidden id="editForm" class="editForm">
              <div class = "modal-content">
                <span class="close">&times;</span>
                <br>
                <form action="<%=url%>/add" method="post">
                    <table>
                        <thead>
                          <tr>
                            <th>Tim 1</th>
                            <th>Rezultat</th>
                            <th>Tim 2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%=m.get('tim1')%></td>
                            <td>
                                <label for="golTim1"></label><input type="number" name="golTim1" id="golTim1" size="2" value=""> :
                                <label for="golTim2"></label><input type="number" name="golTim2" id="golTim2" size="2" value="">
                            </td>
                            <td><%=m.get('tim2') %></td>
                          </tr>
                          <tr>
                            <td>vrijeme</td>
                            <td colspan="2" style="text-align: right;"><%=m.get('vrijeme') %></td>
                          </tr>
                        </tbody>
                    </table>
                  <div>
                    <label for="utakmicaid"></label><input hidden type="number" name="utakmicaid" id="utakmicaid" size="10" value="<%=m.get('utakmicaid')%>"><br>
                    <label for="tim1id"></label><input hidden type="number" name="tim1id" id="tim1id" size="10" value="<%=m.get('tim1id')%>"><br>
                    <label for="tim2id"></label><input hidden type="number" name="tim2id" id="tim2id" size="10" value="<%=m.get('tim2id')%>"><br>
                  </div>
                  <button type="submit">Spremi</button>
                </form>
              </div>
            </div>
          <% } %>
          <% if((user == 'admin') && !m.get('rezultat').includes('-')) { %>
            <button class="editComment" id="editComment">Uredi</button>
            <div hidden id="editForm" class="editForm">
              <div class = "modal-content">
                <span class="close">&times;</span>
                <br>
                <form action="<%=url%>/add" method="post">
                    <table>
                        <thead>
                          <tr>
                            <th>Tim 1</th>
                            <th>Rezultat</th>
                            <th>Tim 2</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%=m.get('tim1')%></td>
                            <td>
                                <% var rezultatText = m.get('rezultat') %>
                                <% var golTim1 = Number(rezultatText.substring(0,rezultatText.indexOf(':'))) %>
                                <% var golTim2 = Number(rezultatText.substring(rezultatText.indexOf(':')+1)) %>
                                <label for="golTim1"></label><input type="number" name="golTim1" id="golTim1" size="2" value="<%=golTim1%>"> :
                                <label for="golTim2"></label><input type="number" name="golTim2" id="golTim2" size="2" value="<%=golTim2%>">
                            </td>
                            <td><%=m.get('tim2') %></td>
                          </tr>
                          <tr>
                            <td>vrijeme</td>
                            <td colspan="2" style="text-align: right;"><%=m.get('vrijeme') %></td>
                          </tr>
                        </tbody>
                    </table>
                    <div>
                        <label for="utakmicaid"></label><input hidden type="number" name="utakmicaid" id="utakmicaid" size="10" value="<%=m.get('utakmicaid')%>"><br>
                        <label for="tim1id"></label><input hidden type="number" name="tim1id" id="tim1id" size="10" value="<%=m.get('tim1id')%>"><br>
                        <label for="tim2id"></label><input hidden type="number" name="tim2id" id="tim2id" size="10" value="<%=m.get('tim2id')%>"><br>
                    </div>
                    <button type="submit">Spremi</button>
                </form>
                
              </div>
            </div>
          <% } %>
          <table>
            <thead>
              <tr>
                <th>Tim 1</th>
                <th>Rezultat</th>
                <th>Tim 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%=m.get('tim1')%></td>
                <td><%=m.get('rezultat') %></td>
                <td><%=m.get('tim2') %></td>
              </tr>
              <tr>
                <td>vrijeme</td>
                <td colspan="2" style="text-align: right;"><%=m.get('vrijeme') %></td>
              </tr>
            </tbody>
        </table>
        <br>
        <% } %>
      <% } %>  

<script>
      var buttonList = document.getElementsByClassName("editComment")
      var editFormList = document.getElementsByClassName("editForm")
      var closeFormList= document.getElementsByClassName("close")

      for(let i=0;i<buttonList.length;i++){
        buttonList[i].onclick = function() {
          editFormList[i].style.display = "block";
        }
        closeFormList[i].onclick = function() {
          editFormList[i].style.display = "none";
        }
        window.onclick = function(event) {
          let x = event.target;
          if (event.target.classList.contains('editForm')) {
            event.target.style.display="none";
          }
        }
      }
</script>
</body>
</html>