<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Trenutno stanje</title>
</head>
<%- include('partials/header') -%>
<body>
    <br>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Tim</th>
                    <th>Bodovi</th>
                  </tr>
            </thead>
            <tbody>
                <% for(const t of timovi) { %>
                    <tr>
                        <td><%=t.timime %></td>
                        <td><%=t.bodovi %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <ul>
        <li><a href="pregledPoKolima/a">Grupa a</a></li>
        <li><a href="pregledPoKolima/b">Grupa b</a></li>
        <li><a href="pregledPoKolima/c">Grupa c</a></li>
        <li><a href="pregledPoKolima/d">Grupa d</a></li>
        <li><a href="pregledPoKolima/e">Grupa e</a></li>
        <li><a href="pregledPoKolima/f">Grupa f</a></li>
        <li><a href="pregledPoKolima/g">Grupa g</a></li>
        <li><a href="pregledPoKolima/h">Grupa h</a></li>
    </ul>

    <br>
</body>
</html>